@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?6baen6');
    src: url('/fonts/icomoon.eot?6baen6#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?6baen6') format('truetype'),
    url('/fonts/icomoon.woff?6baen6') format('woff'),
    url('/fonts/icomoon.svg?6baen6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    /*font-display: block;*/
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.item__social {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    background: #ded3f1;
    /*background: #fefdff;*/
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;

}


.icon-starburst:before {
    content: "\e909";
    color: #e8ff2a;
    font-size: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*
.icon-starburst:before {
  content: "\e907";
}
!*.icon-car-1:before {*!
!*  content: "\e900";*!
!*}*!
.icon-car-2:before {
  content: "\e901";
}
.icon-shop:before {
  content: "\e902";
}
.icon-Trash-Can:before {
  content: "\e903";
}
.icon-Vector-4:before {
  content: "\e904";
   color: #495057;
}
.icon-Vector-5:before {
  content: "\e905";
   color: #495057;
}
.icon-Vector-6:before {
  content: "\e906";
}
.icon-Vector-5-filling:before {
  content: "\e907";
  color: #7954a3;
  !*расширение паддинга для попадания по иконке (click) *!
  padding: 6px 6px 6px 6px;
}
.icon-Vector-4-all:before {
  content: "\e908";
}
.icon-Vector-4-filling:before {
  content: "\e909";
  color: #ff4400;
}
!*.icon-Vector-4 {*!

!*}*!
!*.icon-Vector-5 {*!

!*}*!
.icon-hov {
}
.icon-hov:hover {
  transform: scale(1.1);
}
*/

.icon-cart:before {
    content: "\e904";
    color: #7954a3;
}

.icon-cart-f:before {
    content: "\e905";
    color: #7954a3;
}

.icon-heart:before {
    content: "\e906";
    color: #7954a3;
}

.icon-heart-o:before {
    content: "\e907";
    color: #7954a3;
}

.icon-magnifier:before {
    content: "\e908";
}

.icon-discout:before {
    content: "\e90a";
}

.icon-user:before {
    content: "\e90b";
    color: #ff0090;

}

.icon-flags:before {
    content: "\e90c";
    color: #495057;
}
.icon-flag:before {
    content: "\e90e";
    color: #ff4400;
}
.icon-flag-f:before {
    content: "\e90d";
    color: #ff4400;
}

.icon-zoomout:before {
    content: "\e90f";
}

.icon-zoomin:before {
    content: "\e910";
}

.icon-car-1:before {
    content: "\e900";
    color: #7954a3;
font-size: 40px;
}

.icon-car-2:before {
    content: "\e901";
    color: #7954a3;
font-size: 40px;
}

.icon-shop:before {
    content: "\e902";
    color: #7954a3;
font-size: 40px;
}

.icon-Trash-Can:before {
    content: "\e903";
}

.icon-square:before {
    content: "\f0c8";
}

.icon-home3:before {
    content: "\e911";
}

.icon-menu4:before {
    content: "\e9c0";
}